<ul class="nav nav-pills nav-stacked">
  <li>
    {{#link-to 'notifications'}}
      {{t "notifications.menu.unread.link"}}
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'notifications.lidas'}}
      {{t "notifications.menu.read.link"}}
    {{/link-to}}
  </li>
</ul>