<section class="container row">

    <div class="pull-right row col-xs-18" style="position: relative; top: -1.5em;">
      <h3>{{t 'Pessoas'}} <small><br>{{t 'Aqui você encontra as pessoas'}}</small></h3>

      <div id="user-list" class="row">
        {{#each controller}}
          {{render 'user/teaser' this}}
        {{/each}}
      </div>
    </div>

    <div id="draggable-widgets" class="pull-left col-xs-6">
      <!-- widgets -->
      <aside id="feed-widget" class="panel panel-default row">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a class="widget-trigger-collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              <div class="icon icon-time pull-left" style="font-size: 1.5em; position: relative; left: -0.3em;"></div>
              O que está acontecendo?
            </a>
          </h3>
        </div>
        <div id="collapseThree" class="panel-collapse collapse in list-group">
          <a href="#" class="list-group-item active">
            <h5 class="list-group-item-heading">Semana da Saúde</h5>
            <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências.</p>
          </a>
          <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">Semana da Saúde</h5>
            <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências.</p>
          </a>
          <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">Semana da Saúde</h5>
            <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências.</p>
          </a>
        </div>
      </aside>

      <aside id="groups-widget" class="panel panel-default row">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a class="widget-trigger-collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              <div class="icon icon-cdp-logo pull-left" style="font-size: 1.5em; position: relative; left: -0.3em;"></div>
              Comunidades
            </a>
          </h3>
        </div>
        <div id="collapseOne" class="panel-collapse collapse list-group">
          <a href="#" class="list-group-item active">
            <h5 class="list-group-item-heading">Comunidade Saúde e Bem-estar</h5>
            <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
          </a>
          <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">Comunidade Saúde e Bem-estar</h5>
            <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
          </a>
          <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">Comunidade Saúde e Bem-estar</h5>
            <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
          </a>
        </div>
      </aside>

      <aside id="courses-widget" class="panel panel-default row">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a class="widget-trigger-collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              <div class="icon icon-badge pull-left" style="font-size: 1.5em; position: relative; left: -0.3em;"></div>
              Cursos
            </a>
          </h3>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse list-group">
          <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">Cursos de Saúde</h4>
            <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Cursos de Saúde</h4>
            <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Cursos de Saúde</h4>
            <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
          </a>
        </div>
      </aside>
      <!-- /widgets -->
    </div>

</section>
