<section class="section">
  <div class="container">

    {{bread-crumbs}}

    <div class="row">

      <div class="col-md-12">
        <div class="people-list--header-brand">
          <div class="people-list--header-brand-text">
            <h3 class="people-list--header-brand-text--title">
              Membros da comunidade
            </h3>
          </div>
        </div>
        <br><br>
      </div>

      {{#each controller}}
        <div class="col-md-3">
          {{render 'user/teaser' this}}
        </div>
      {{/each}}

    </div>
  </div><!-- /container -->
</section><!-- /section -->
