<aside id="feed-widget" class="panel panel-default row">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">O que está acontecendo?</a>
    </h3>
  </div>
  <div id="collapseThree" class="panel-collapse collapse in list-group">
    <a href="#" class="list-group-item active">
      <h5 class="list-group-item-heading">Semana da Saúde</h5>
      <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências.</p>
    </a>
    <a href="#" class="list-group-item">
      <h5 class="list-group-item-heading">Semana da Saúde</h5>
      <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências.</p>
    </a>
    <a href="#" class="list-group-item">
      <h5 class="list-group-item-heading">Semana da Saúde</h5>
      <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências.</p>
    </a>
  </div>
</aside>
