<aside id="feed-widget" class="panel panel-default row">
  <div class="panel-heading">
    <h3 class="panel-title">Whats happen?</h3>
  </div>
  <div class="panel-body">
    content
  </div>
</aside>
