<div class="user-list-widget thumbnail">
  <img class="user-list-img" data-src="holder.js/100%x200" alt="100%x200" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNDIiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjEyMSIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjE1cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MjQyeDIwMDwvdGV4dD48L3N2Zz4=" style="height: 200px; width: 100%; display: block;">
  <div class="caption">
    <h4 class="user-list-name">Thumbnail label</h4>
    <p class="user-list-desc">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Lorem dolor ipsum sit.</p>
    <nav class="user-list-nav">
      <a href="#" class="btn btn-sm btn-warning" role="button">Message</a>
      <a href="#" class="btn btn-sm btn-success" role="button">Follow</a>
      <a href="#" class="btn btn-sm btn-primary" role="button">Add</a>
    </nav>
  </div>
</div>
