//
// Footers
// --------------------------------------------------

/* Sticky footer styles
-------------------------------------------------- */

$footer-fixed-height: 375px;

body {
  /* keep footer on bottom helper
  margin-bottom: 60px; = footer height */
  margin-bottom: $footer-fixed-height;
}

#footer-main {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-fixed-height;
  background-color: $gray-lighter;
  border-top: 2px solid lighten($gray-light, 45%);
  .container .text-muted {
    margin: 15px 0;
  }
  .title-footer {
    font-size: 1em;
    color: $brand-primary;
    text-transform: uppercase;
  }
  .small-footer {
    margin: 3px 0;
    color: lighten($gray-light, 10%);
    font-size: 0.7em;
    font-weight: normal;
    line-height: 1.5em;
  }
  .date {
    font-size: 0.65em;
    color: lighten($gray-light, 25%);
  }

  .blog-section,
  .facebook-section,
  .links-section,
  .about-section, {
    &:hover {
      background: lighten($gray-lighter, 1%);
    }
  }
  .blog-section {
    margin-bottom: 3em;
    height: 160px;
    margin: 15px 0 15px 0;
    padding: 10px 20px 20px 20px;
  }
  .facebook-section {
    height: 160px;
    margin: 15px 0 15px 0;
    padding: 10px 20px 20px 20px;
  }
  .about-section {
    height: 140px;
    padding: 0 20px 20px 20px;
    .about-section--title {
      margin-top: 14px;
      font-size: 0.9em;
    }
    .btn {
      position: relative;
      left: 5em;
    }
  }
  .sponsor-section,
  .partner-section {
    height: 140px;
    padding: 15px;
    .sponsor-title,
    .partner-title {
      color: $gray-light;
      font-size: 1em;
    }
  }
  .sponsor-list,
  .partner-list {
    .sponsor-list--item,
    .partner-list--item {
      float: left;
      list-style: none;
      margin-right: 3.1em;
      margin-left: -3em;
    }
  }
  .links-section {
    height: 160px;
    margin: 15px 0 15px 0;
    padding: 10px 20px 20px 20px;
    .links-section--title {
    }
    .links-section--icon {
      font-size: 1.4em;
    }
    .links-section--subtitle {
      font-size: 0.9em;
      color: $gray-light;
    }
    .links-section--list {
      line-height: 1em;
      .links-section--list-item {
        list-style: none;
        float: left;
        padding: 0 1em 0 0;
        &.help-center,
        &.cdp {
          margin-right: 2em
        }
        &:hover {
          &.help-center {
            .links-section--subtitle,
            .small-footer {
              color: $brand-cool;
            }
          }
          &.careers {
            .links-section--subtitle,
            .small-footer {
              color: $color-people;
            }
          }
          &.cdp {
            .links-section--subtitle,
            .small-footer {
              color: $brand-info;
            }
          }
          &.contact {
            .links-section--subtitle,
            .small-footer {
              color: $color-course;
            }
          }
        }
      }
    }
  }
  .copyright {
    border-top: 1px solid lighten($gray-light, 45%);
    height: 30px;
    padding: 0;
    text-align: center;
    line-height: 10px;
    font-size: 0.85em;
  }
  #logo-cdp-footer {
    width: 12em;
    position: relative;
    left: -2.1em;
    top: -2px;
  }
}
