//
// Footers
// --------------------------------------------------

/* Sticky footer styles
-------------------------------------------------- */

$footer-fixed-height: 405px;
$footer-first-line-height: 180px;
$footer-second-line-height: 120px;

body {
  /* keep footer on bottom helper
  margin-bottom: 60px; = footer height */
  margin-bottom: $footer-fixed-height;
}

#footer-main {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-fixed-height;
  background-color: $gray-lighter;
  border-top: 2px solid lighten($gray-light, 45%);
  .container .text-muted {
    margin: 15px 0;
  }
  .title-footer {
    font-size: 1em;
    color: $brand-primary;
    text-transform: uppercase;
  }
  .small-footer {
    margin: 3px 0;
    color: lighten($gray-light, 10%);
    font-size: 0.7em;
    font-weight: normal;
    line-height: 1.5em;
  }
  .date {
    font-size: 0.65em;
    color: lighten($gray-light, 25%);
  }

  .blog-section,
  .facebook-section,
  .links-section,
  .about-section,
  .sponsor-section,
  .partner-section {
    &:hover {
      background: lighten($gray-lighter, 1%);
    }
  }
  .blog-section {
    margin-bottom: 3em;
    height: $footer-first-line-height;
    margin: 15px 0 15px 0;
    padding: 10px 20px 20px 20px;
  }
  .facebook-section {
    height: $footer-first-line-height;
    margin: 15px 0 15px 0;
    padding: 10px 20px 20px 20px;
  }
  .about-section {
    height: $footer-second-line-height;
    margin: 15px 0 15px 0;
    padding: 10px 20px 20px 20px;
    .about-section--title {
      font-size: 1em;
      position: relative;
      top: -7px;
      color: $gray-light;
    }
    .small-footer {
      line-height: 1.5em!important;
      position: relative;
      top: -10px;
    }
    .btn-xs {
      font-size: 0.8em;
      background: #00afed;
      padding: 2px 12px;
      position: relative;
      top: -5px;
    }
  }
  .sponsor-section,
  .partner-section {
    height: $footer-second-line-height;
    margin: 15px 0 15px 0;
    padding: 10px 20px 20px 20px;
    .sponsor-title,
    .partner-title {
      color: $gray-light;
      font-size: 1em;
    }
  }
  .sponsor-list,
  .partner-list {
    padding: 0 1em;
    .sponsor-list--item,
    .partner-list--item {
      float: left;
      list-style: none;
      padding: 0;
    }
  }
  .links-section {
    height: $footer-first-line-height;
    margin: 15px 0 15px 0;
    padding: 10px 20px 20px 20px;
    .links-section--title {
    }
    .links-section--icon {
      font-size: 1.4em;
    }
    .links-section--subtitle {
      font-size: 0.9em;
      color: $gray-light;
    }
    .links-section--list {
      margin-top: -6px;
      line-height: 1em;
      .links-section--list-item {
        list-style: none;
        float: left;
        padding: 0 1em 0 0;

        .small-footer {
          font-family: 'Open Sans';
          font-weight: normal;
          margin-top: -5px;
        }

        &.help-center,
        &.cdp {
          margin-right: 2em
        }
        &:hover {
          &.help-center {
            .links-section--subtitle,
            .small-footer {
              color: $brand-cool;
            }
          }
          &.careers {
            .links-section--subtitle,
            .small-footer {
              color: $color-people;
            }
          }
          &.cdp {
            .links-section--subtitle,
            .small-footer {
              color: $brand-info;
            }
          }
          &.contact {
            .links-section--subtitle,
            .small-footer {
              color: $color-course;
            }
          }
        }
      }
    }
  }
  .copyright {
    border-top: 1px solid lighten($gray-light, 45%);
    height: 30px;
    padding: 0;
    text-align: center;
    line-height: 10px;
    font-size: 0.85em;
  }
  #logo-cdp-footer {
    width: 10.4em;
    position: relative;
    left: -2.1em;
  }
}

// Grids
//
// -------------------------------

.first-line-block {
  @include make-row;
  .blog-section,
  .facebook-section { @include make-xs-column(14); }
  .links-section { @include make-xs-column(20); }
  .links-section--list { @include make-row; padding: 1em; }
  .links-section--list-item { @include make-xs-column(22); float: left; }
}

.second-line-block {
  @include make-row;
  .sponsor-list,
  .partner-list {
    @include make-row;
    .sponsor-list--item,
    .partner-list--item { @include make-xs-column(23); }
  }
  .about-section,
  .sponsor-section { @include make-xs-column(14); }
  .partner-section { @include make-xs-column(20); }
  .about-section {
    .title-footer { @include make-xs-column(8); }
    .description-footer { @include make-xs-column(40); }
  }
}

.copyright { @include make-row }

// Media Queries
//
// -------------------------------

@media (max-width: $screen-xs-max) {
  #footer-main {
    background: #f0f;
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  #footer-main {
    background: #0ff;
  }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  #footer-main {
    background: #f00;
  }
}
@media (min-width: $screen-lg-min) {
  #footer-main {
    background: #ff0;
  }
}
