//
// Section
// --------------------------------------------------


.section {
  padding: $section-padding;
  /*margin-bottom: $section-padding;*/
  color: $section-color;
  background-color: $section-bg;

  h1,
  .h1 {
    color: $section-heading-color;
  }
  p {
    margin-bottom: ($section-padding / 2);
    font-size: $section-font-size;
    font-weight: 200;
  }

  > hr {
  }

  .container & {
    border-radius: $border-radius-large; // Only round corners at higher resolutions if contained in a container
  }

  .container {
    max-width: 100%;
  }

  @media screen and (min-width: $screen-sm-min) {
    padding-top:    ($section-padding * 1.6);
    padding-bottom: ($section-padding * 1.6);

    .container & {
      padding-left:  ($section-padding * 2);
      padding-right: ($section-padding * 2);
    }

    h1,
    .h1 {
      font-size: ($font-size-base * 4.5);
    }
  }
}


// Group list
//
// ---------------------------------

#group-list {
  @include make-xs-column(9);
  float: right;
  padding-right: 0;
  #group-list--header {
    height: 48px;
    margin-bottom: 10px;
    .group-list--header-brand {
      @include make-xs-column(4);
      padding: 0 10px 0 0;
      float: left;
      .group-list--header-brand-icon {
        width: 20%;
        color: $color-group;
        float: left;
        font-size: 1.6em;
        // Hack for solve specific icon inconsistence
        .cdp-cdp-logo {
          position: relative;
          top: 1px;
        }
      }
      .group-list--header-brand-text {
        padding: 0;
        position: relative;
        top: -8px;
        right: 5px;
        width: 78%;
        float: right;
        .group-list--header-brand-text--title {
          display: block;
          line-height: 0.4em;
          padding: 0;
          width: 100%;
          color: $gray;
          position: relative;
          top: 0;
          font-size: 1.4em;
        }
        .group-list--header-brand-text--small {
          display: block;
          line-height: 0.4em;
          width: 100%;
          color: $gray;
        }
      }
    }
    .group-list--header-search {
      @include make-xs-column(4);
      padding: 0;
      margin-right: -6px;
      float: right;
      .group-list--header-search-input {
        padding-right: 30px;
        background: $gray-lighter;
        border-color: $gray-lighter;
      }
      .btn-default {
        background: $gray-lighter;
        color: $gray-light;
        border-width: 1px;
        border-style: solid;
        border-color: $gray-lighter;
      }
    }
  }

  .group-list-widget {
    width: 100%;
    height: 230px;
    clear: both;
    .group-list-img {
      width: 220px;
      height: 220px;
      margin-right: 1em;
      float: left;
    }
    .caption {
      @include make-xs-column(8);
      float: right;
    }
    .group-list-name {
      position: relative;
      top: -0.8em;
      font-size: 1.7em;
    }
    .group-list-desc {
      position: relative;
      top: -1.2em;
      font-size: 1.15em;
    }
    .group-list-nav {
      position: absolute;
      top: 13.5em;
      right: 1.8em;
    }
  }
}


// People list
//
// --------------------------------

#people-list {
  @include make-lg-column(9);
  @include make-xs-column(12);
  float: right;
  padding-right: 0;
  #people-list--header {
    width: 100%;
    height: 48px;
    margin-bottom: 10px;
    .people-list--header-brand {
      @include make-lg-column(4);
      @include make-xs-column(8);
      padding: 0 10px 0 0;
      float: left;
      .people-list--header-brand-icon {
        width: 20%;
        color: $color-people;
        float: left;
        font-size: 1.6em;
        // Hack for solve specific icon inconsistence
        .cdp-cdp-logo {
          position: relative;
          top: 1px;
        }
      }
      .people-list--header-brand-text {
        padding: 0;
        position: relative;
        top: -8px;
        right: 5px;
        width: 78%;
        float: right;
        .people-list--header-brand-text--title {
          display: block;
          line-height: 0.4em;
          padding: 0;
          width: 100%;
          color: $gray;
          position: relative;
          top: 0;
          font-size: 1.4em;
        }
        .people-list--header-brand-text--small {
          display: block;
          line-height: 0.4em;
          width: 100%;
          color: $gray;
        }
      }
    }
    .people-list--header-search {
      @include make-lg-column(4);
      @include make-xs-column(1);
      padding: 0;
      float: right !important;
      .input-group {
        float: right ;
      }
      .people-list--header-search-input {
        background: $gray-lighter;
        border-color: $gray-lighter;
      }
      .btn-default {
        background: $gray-lighter;
        color: $gray-light;
        border-width: 1px;
        border-style: solid;
        border-color: $gray-lighter;
      }
    }
  }

  .user-list-widget {
    @include make-lg-column(4);
    @include make-xs-column(12);
    height: 300px;
    overflow: hidden;
    &:hover {
      background: lighten($gray-lighter, 3%);
    }
    .user-list-img {}
    .user-list-name {
      text-align: left;
    }
    .user-list-desc {
      font-size: 0.9em;
    }
    .user-list-nav {}
  }
}


// Notification list
//
// ----------------------------

#notification-list {
  @include make-xs-column(9);
  float: right;
  padding: 0 0 50px 0;
  .btn-primary {
    position: absolute;
    right: 0;
  }
  .table {
    position: relative;
    top: 0px;
  }
  .fa-bell-slash {
    margin-top: 30px;
    font-size: 4em;
    display: block;
    color: darken($gray-lighter, 10%);
  }
  #notification-list--header {
    height: 48px;
    margin-bottom: 10px;
    .notification-list--header-brand {
      @include make-xs-column(4);
      padding: 0 10px 0 0;
      float: left;
      .notification-list--header-brand-icon {
        width: 20%;
        color: $color-notification;
        float: left;
        font-size: 1.6em;
        // Hack for solve specific icon inconsistence
        .cdp-cdp-logo {
          position: relative;
          top: 1px;
        }
      }
      .notification-list--header-brand-text {
        padding: 0;
        position: relative;
        top: -8px;
        right: 5px;
        width: 78%;
        float: right;
        .notification-list--header-brand-text--title {
          display: block;
          line-height: 0.4em;
          padding: 0;
          width: 100%;
          color: $gray;
          position: relative;
          top: 0;
          font-size: 1.4em;
        }
        .notification-list--header-brand-text--small {
          display: block;
          line-height: 0.4em;
          width: 100%;
          color: $gray;
        }
      }
    }
    .notification-list--header-button {
      @include make-xs-column(4);
      padding: 0;
      float: right;
      margin: 8px 0 0 0;
    }
  }

}
#sidebar-notifications {
  @include make-xs-column(3);
  position: relative;
  top: 60px;
  padding-left: 0;
}

// Home
//
// ----------------------------

.timeline-wrapper {
  @include make-xs-column(10);
  float: right;
}

#draggable-widgets {
  @include make-lg-column(3);
  @include make-xs-column(12);
  padding: 0;
  float: left;
}

// Register
//
// ---------------------------

#register-section {
  padding: 2em 0 10em 0;
}
#signin-form {
  @include make-lg-column(12);
  float: right;

  #signin-list--header {
    height: 48px;
    margin-bottom: 10px;
    .signin-list--header-brand {
      @include make-xs-column(4);
      padding: 0 10px 0 0;
      float: left;
      .signin-list--header-brand-icon {
        width: 13%;
        float: left;
        font-size: 1.6em;
        .fa-circle {
          color: $brand-info;
        }
      }
      .signin-list--header-brand-text {
        padding: 0;
        position: relative;
        top: -8px;
        right: 6%;
        width: 78%;
        float: right;
        .signin-list--header-brand-text--title {
          display: block;
          line-height: 0.4em;
          padding: 0;
          width: 100%;
          color: $gray;
          position: relative;
          top: 0;
          font-size: 1.4em;
        }
        .signin-list--header-brand-text--small {
          display: block;
          line-height: 0.4em;
          width: 100%;
          color: $gray;
        }
      }
    }
  }

  .form-signin--input-name,
  .form-signin--input-password {
    width: 48.5%;
    float: left;
    margin: 10px 0;
  }
  .form-signin--input-email,
  .form-signin--input-password-confirm {
    width: 48.5%;
    margin: 10px 0;
    float: right;
  }
  .form-signin--select-language {
    width: 30%;
    float: left;
    margin: 10px 0;
  }
  .form-signin--select-birthdate {
    width: 48.5%;
    float: right;
    margin: 10px 0 0 20%;
    .form-control {
      float: left;
      &.month {
        width: 40%;
        margin-left: 0;
      }
      &.day {
        width: 28%;
        margin-left: 3.2%;
      }
      &.year {
        width: 25%;
        margin-left: 3.2%;
      }
    }
  }
  .form-signin--radio-gender {
    width: 25%;
    margin-top: 15px;
    float: left;
    .radio-male {
      display: block;
      width: 45%;
      float: left;
    }
    .radio-female {
      width: 49%;
      float: right;
    }
  }
  .form-signin--agree-terms {
    width: 100%;
    font-size: 0.85em;
    float: left;
    text-align: left;
    margin-top: 2.5em;
  }
  .btn {
    width: 30%;
    margin-top: 20px;
    float: left;
  }
}
