<!--  -->
<section class="jumbotron">
  <div class="container">

    <div class="pull-right col-xs-18 row" style="position: relative; top: -1.5em;">
      <h3>Notificações <small><br>Visualize suas notificações</small></h3>

      <div id="notifications-list" class="row">
        <button class="btn btn-sm btn-primary" style="float: right; margin: -4em 1.3em 2em 0;">Marcar todas como lido</button>
        <div class="col-xs-24">
          <table class="table table-striped table-hover" style="background: #fff">
            <tbody>
        <tr>
          <td><div class="icon icon-bell"></div></td>
          <td><a href="">Santos Souza</a> solicitou participar da comunidade <a href="">Academia da Saúde</a> em 01/07/2014 09:55:50
Clique aqui para aprovar a solicitação</td>
          <td>
            <button class="btn btn-sm btn-success">Marcar como lida</button>
          </td>
        </tr>
        <tr>
          <td><div class="icon icon-bell"></div></td>
          <td><a href="">Santos Souza</a> solicitou participar da comunidade <a href="">Academia da Saúde</a> em 01/07/2014 09:55:50
Clique aqui para aprovar a solicitação</td>
          <td><button class="btn btn-sm btn-success">Marcar como lida</button></td>
        </tr>
        <tr>
          <td><div class="icon icon-bell"></div></td>
          <td><a href="">Santos Souza</a> solicitou participar da comunidade <a href="">Academia da Saúde</a> em 01/07/2014 09:55:50
Clique aqui para aprovar a solicitação</td>
          <td><button class="btn btn-sm btn-success">Marcar como lida</button></td>
        </tr>
        <tr>
          <td><div class="icon icon-bell"></div></td>
          <td><a href="">Santos Souza</a> solicitou participar da comunidade <a href="">Academia da Saúde</a> em 01/07/2014 09:55:50
Clique aqui para aprovar a solicitação</td>
          <td><button class="btn btn-sm btn-success">Marcar como lida</button></td>
        </tr>
        <tr>
          <td><div class="icon icon-bell"></div></td>
          <td><a href="">Santos Souza</a> solicitou participar da comunidade <a href="">Academia da Saúde</a> em 01/07/2014 09:55:50
Clique aqui para aprovar a solicitação</td>
          <td><button class="btn btn-sm btn-success">Marcar como lida</button></td>
        </tr>
      </tbody>
        </table>
        </div>

      </div>
    </div><!-- end container -->

    <div id="draggable-widgets" class="pull-left col-xs-6">
      <!-- widgets -->
      <% include ../widget/groups-widget.ejs %>
      <% include ../widget/courses-widget.ejs %>
      <% include ../widget/feed-widget.ejs %>
      <!-- /widgets -->
    </div>

  </div><!-- end container -->
</section><!-- end -->
