<!-- Splash Global
    Use for welcome to user -->
<section id="splash-global" class="jumbotron">
  <div class="container">

    <div class="pull-left col-xs-7 row">
      <h1>Hello, We!</h1>
      <p>This is a <span class="label label-success">default</span> theme. It's included with the kit that adapts to fit the device your user is viewing it on. This helps an experience that looks good.</p>
      <p><a href="https://github.com/wejs/we-theme-default" class="btn btn-info" role="button" target="_blank">Star on GitHub</a></p>
    </div>

    <div class="pull-right col-xs-4">
      <!-- login form -->
      <% include ../form/signin.ejs %>
      <!-- /login form -->
    </div>

  </div><!-- end container -->
</section><!-- end splash global -->
