<!-- Splash Global
    Use for welcome to user -->
<section id="splash-global" style="padding-top: 3em;" class="">
  <div class="container">

    <div class="pull-left col-xs-20 row">
      <h1>Bem vindo(a) a Comunidade de Práticas!</h1>
      <p style="font-size: 2em; line-height: 1.5em;">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
      <button data-toggle="modal" data-target="#myModal" class="btn btn-lg btn-primary" role="button" target="_blank">Cadastre-se</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h2 id="myModalLabel">Cadastre-se</h2>
          </div>

          <div class="modal-body clearfix">
            <div class="pull-right col-xs-24">
              <!-- login form -->
              <% include ../form/signin.ejs %>
              <!-- /login form -->
            </div>
          </div>
          <div class="modal-footer">
            <div class="form-group row" style="font-size: 11px;">
              <div class="radio col-xs-24 row" style="text-align: left">
                <label>
                  <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="male" checked>
                  Li e aceito as regras de convivência da Comunidade de Práticas.*
                </label>
              </div>
              <div class="radio col-xs-24 row" style="text-align: left">
                <label>
                  <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="female" checked>
                  Li e aceito os termos de uso*
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end container -->
</section><!-- end splash global -->
