<!--  -->
<section class="jumbotron">
  <div class="container">

    <div class="pull-right col-xs-18 row" style="position: relative; top: -1.5em;">
      <h3>People <small><br>you can find people here</small></h3>

      <div id="user-list" class="row">

        <div class="col-xs-8">
          <% include ../widget/user-list-widget.ejs %>
        </div>

        <div class="col-xs-8">
          <% include ../widget/user-list-widget.ejs %>
        </div>

        <div class="col-xs-8">
          <% include ../widget/user-list-widget.ejs %>
        </div>

      </div>

    </div><!-- end container -->

    <div class="pull-left col-xs-6">
      <!-- widgets -->
      <% include ../widget/feed-widget.ejs %>
      <% include ../widget/groups-widget.ejs %>
      <% include ../widget/courses-widget.ejs %>
      <!-- /widgets -->
    </div>

  </div><!-- end container -->
</section><!-- end -->
