<section class="section">
  <div class="container">

    <div class="activities">
      <div class="activities-left">
        Últimas atividades deste usuário
      </div>
      <div class="activities-right">
        <h3>{{t "users.title"}}</h3>
       {{render 'posts/list' posts controller='Posts'}}
      </div>
    </div>

  </div>
</section>
