<div class="user-teaser text-center">
  {{#link-to 'user' id}}
    {{we-avatar userId=id size="medium" classNames="user-list-img"}}
  {{/link-to}}

  <div class="caption">
    <h4 class="user-list-name">
      {{#link-to 'user' id}}
        {{substr displayName max=15}}
      {{/link-to}}
    </h4>
    <p class="user-list-desc">{{user.biograph}}</p>
  </div>

  <br><br>
</div>