{{#if isVisible}}
<li class="main_menu-dropdown logged-on dropdown">
  <button class="btn btn-default dropdown-toggle user-menu-link" data-toggle="dropdown">
    <span class="avatar-small" {{bind-attr class=status}}>{{we-avatar userId=currentUser.id}}</span>
    <span class="user-name " >{{currentUser.displayName}}</span><b class="caret"></b>
  </button>

  <ul id="dropdown-login-menu" class="dropdown-menu dropdown-menu-right dropdown-menu-user arrow_box" role="menu">
    <li>
      {{#link-to 'relatos.meus'}}<i class="cdp cdp-report"></i> Meus Relatos{{/link-to}}
    </li>
    <li class="divider"></li>
    <li>
      <a href="https://perfis.atencaobasica.org.br/account"> <i class="cdp cdp-user"></i> Editar perfil</a>
    </li>
    <li class="divider"></li>
    <li>
      <a href="https://cursos.atencaobasica.org.br/user_messages"><i class="cdp cdp-message"></i> Mensagens</a>
    </li>
    <li class="divider"></li>
    <li>
      <a href="https://cursos.atencaobasica.org.br/user_mail_notify"><i class="cdp cdp-bell"></i> Notificações por Email</a>
    </li>
    <li class="divider"></li>
    <li>
      <a href="https://cursos.atencaobasica.org.br/user_friends"><i class="cdp cdp-people"></i> Solicitações de Amizade</a>
    </li>
    <li class="divider"></li>
    <li>
      <a href="https://cursos.atencaobasica.org.br/user_myresults"><i class="cdp cdp-star-full"></i> Notas das Avaliações</a>
    </li>

    {{#if adminMenu}}
    <li class="divider"></li>
    <li>
        <a href="/admin"><i class="fa fa-medkit"></i> Administrar</a>
    </li>
    {{/if}}

    <li class="divider"></li>
    <div class="container-button-signin">
      <a href="/auth/logout" class="btn btn-sm btn-danger">Sair</a>
    </div>
  </ul>
</li>
{{/if}}
