<p>Olá <%= curador.displayName %>!</p>

<p>O relato <a href=<%= link %>><%= relato.titulo %></a> foi designado à sua Curadoria. O autor já está ciente e você já pode começar a interação. Lembramos que a Curadoria tem uma duração inicial de 15 dias, podendo ser prorrogada por mais 10.</p>
