#navbar-main {
  border-bottom: 4px solid #e1e1e1;
  background: #fff;
  .bar-colored {
    background-image: url('../img/bar-colored.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 4px;
    position: relative;
    bottom: -70px;
  }
  .navbar-brand {
    padding: 0;
  }
  .navbar-nav {
    .navbar-menu-item {
      height: 70px;
      line-height: 40px;
    }
  }
}
#menu-user-dropdown {
  .dropdown-menu {
    width: 240px;
  }
  .dropdown-toggle {
    position: relative;
    top: 1.5em;
  }
}
