#user-list {
  .user-list-widget {
    height: 400px;
    .user-list-img {
    }
    .user-list-name {
      text-align: center;
    }
    .user-list-desc {
      font-size: 0.9em;
      text-align: center;
    }
    .user-list-nav {
    }
  }
}
