<p>Olá <%= autor.displayName %>!</p>

<p>Muito prazer! Meu nome é <%= curador.displayName %>, sou curador(a) dos relatos de experiência da Comunidade de Práticas e estou escrevendo para saber do seu interesse em participar do processo de curadoria.</p>

<p>A Curadoria não é obrigatória e a ideia é que possamos conversar por meio da plataforma da Comunidade de Práticas, com o intuito de possibilitar que o relato da sua experiência mostre todas as suas possibilidades. Essa conversa se dá pelo espaço de comentários logo abaixo do seu relato.</p>

<p>E aí, você topa? Caso positivo, preciso que você <a href=<%= link %>>clique aqui</a> em até 5 dias corridos. Após esse período, precisaremos passar para um próximo relato de experiência, para garantir o acesso do maior número de pessoas.</p>

<p><a href=<%= link %>>Iniciar Curadoria</a></p>
