/*@import "variables";
@import "mixins";

// Core CSS
@import "scaffolding";
@import "type";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";

// Components
@import "component-animations";
@import "dropdowns";
@import "button-groups";
@import "input-groups";
@import "pagination";
@import "pager";
@import "labels";
@import "badges";
@import "jumbotron";
@import "section";
@import "timeline";
@import "thumbnails";
@import "alerts";
@import "progress-bars";
@import "loading-bar";
@import "media";
@import "list-group";
@import "panels";
@import "responsive-embed";
@import "wells";
@import "close";
@import "revolution-slider";

// Components w/ JavaScript
@import "modals";
@import "tooltip";
@import "popovers";
@import "carousel";
@import "carousel-custom";
@import "chat";
@import "widgets";
@import "wysiwyg";

// Utility classes
@import "utilities";
@import "responsive-utilities";
*/
.note-toolbar > .btn-group{
	display: inline-block;
}

.note-group-select-from-files {
	display: none;
}

.note-toolbar .dropdown-menu {
 	top: inherit;
 	left: inherit;
}

.we-auth-modal-need-login .close{
	position: absolute;
	top: 50px;
	right: 40px;
	border: none;
	background: none;
}

.we-auth-modal-need-login .modal-header-cdp-logo{
	width: 50%;
}

.story-main-content .story-liked-create .external-link{
	font-size: 12px;
	color: #777777;
	display: block;
	text-decoration: underline;
}

.we-user-search{
	width: 451px;
}

.we-user-search-single{
	text-align: center;
}

.we-user-search-single .select2-choice{
	height: 36px;
	line-height: 32px;
}

.comment-form .user-avatar-area {
	width: 50px;
}

.story-form-required {
	color: red;
	font-size: 10px;
}

.story-form-count{
	float: right;
	font-size: 12px;
}

.story-modal-edit .story-main-content--form .story-main-content--form-wrapper .story-form-edit-date .datepicker-end{
	margin-top: 0;
}

.radio {
	margin-top: 40px;
}

textarea{
	resize: none;
}

.story-modal-edit .story-main-content--form .story-main-content--form-wrapper .relato-textarea{
	height: auto;
}

.section-story-edit h3 > i, .section-story-edit h4 > i {
	padding-left: 10px;
	font-size: 16px;
}


.dropdown-menu-user {
	min-width: 220px !important;
	left: auto;
}

div.growlUI h1, div.growlUI h2 {
    color: white; padding: 5px 5px 5px 5px; text-align: center; font-size: 12pt;
}


/*
** STAFF /equipe CSS CLASS
*/
.staff {}

.staff .staff-section {
  margin-bottom: 100px;
}
.staff .staff-section.staff-effect-initial {
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}
.show {
  opacity: 1 !important;
}
.staff .staff-section:last-child {
  margin-bottom: 0;
}

.staff .staff-section h2.staff-title {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
}
.staff .staff-section h2.staff-title:before {
  content: 'a';
  background: #ccc;
  width: 32px;
  height: 0;
  padding-top: 32px;
  display: block;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 18px;
}

.staff .staff-section .staff-desc {
  text-align: center;
  color: #333;
  max-width: 670px;
  margin: 0 auto 32px auto;
}

.staff-list {
  text-align: center;
}

.staff-list .staff-member {
  display: inline-block;
  width: 238px;
  margin: 15px 20px 15px 20px;
  background: #fff;
  border-radius: 3px;
  padding: 15px 20px;
  -webkit-transition: transform .3s ease-in-out;
  -moz-transition: transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  position: relative;
  padding-bottom: 75px;
  vertical-align: top;
}
.staff-list .staff-member:hover {
  text-decoration: none;
}
.staff-list .staff-member .staff-picture-wrapper {
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  display: block;
  margin: auto;
  margin-bottom: 15px;
}
.staff-list .staff-member .staff-picture-wrapper .staff-other-info {
  width: 128px;
  height: 128px;
  background: #666;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
.staff-list .staff-member:hover .staff-picture-wrapper .staff-other-info {
  opacity: 1;
}
.staff-list .staff-member .staff-picture-wrapper .staff-other-info .info-content {
  display: table-cell;
  width: 128px;
  vertical-align: middle;
  font-weight: bold;
  color: #fff;
  font-size: 14px;
}

.staff-list .staff-member .staff-name {
  color: #75747a;
  font-weight: bold;
  font-size: 14px;
  max-height: 60px;
  overflow: hidden;
  margin-bottom: 13px;
}
.staff-list .staff-member .staff-name+div.staff-other-info {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  color: #afafaf;
  margin-bottom: 13px;
}
.staff-list .staff-member .staff-bio {
  font-size: 12px;
  color: #333;
  text-align: left;
}
.staff-list .staff-member .btn-staff-profile {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

@media (min-width: 992px) {
  .staff-list .staff-member:hover {
    transform: scale(1.1);
  }
  .staff-list .staff-member .staff-picture-wrapper .staff-other-info {
    display: table;
  }
  .staff-list .staff-member .staff-name+div.staff-other-info {
    display: none;
  }

}
/* cores */

/* color-warnning */
.staff .staff-section.color-warning h2.staff-title,
.staff-list.color-warning .staff-member .staff-name {
  color: #f9ae31;
}
.staff .staff-section.color-warning h2.staff-title:before,
.staff-list.color-warning .staff-member .staff-picture-wrapper .staff-other-info{
  background: #f9ae31;
}

/* color-success */
.staff .staff-section.color-success h2.staff-title,
.staff-list.color-success .staff-member .staff-name{
  color: #00a182;
}
.staff .staff-section.color-success h2.staff-title:before,
.staff-list.color-success .staff-member .staff-picture-wrapper .staff-other-info{
  background: #00a182;
}

/* color-gray */
.staff .staff-section.color-gray h2.staff-title,
.staff-list.color-gray .staff-member .staff-name{
  color: #555;
}
.staff .staff-section.color-gray h2.staff-title:before,
.staff-list.color-gray .staff-member .staff-picture-wrapper .staff-other-info{
  background: #555;
}

/* color-red */
.staff .staff-section.color-red h2.staff-title,
.staff-list.color-red .staff-member .staff-name{
  color: #f00;
}
.staff .staff-section.color-red h2.staff-title:before,
.staff-list.color-red .staff-member .staff-picture-wrapper .staff-other-info{
  background: #f00;
}

/* color-primary */
.staff .staff-section.color-primary h2.staff-title,
.staff-list.color-primary .staff-member .staff-name{
  color: #3483B7;
}
.staff .staff-section.color-primary h2.staff-title:before,
.staff-list.color-primary .staff-member .staff-picture-wrapper .staff-other-info{
  background: #3483B7;
}