/*@import "variables";
@import "mixins";

// Core CSS
@import "scaffolding";
@import "type";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";

// Components
@import "component-animations";
@import "dropdowns";
@import "button-groups";
@import "input-groups";
@import "pagination";
@import "pager";
@import "labels";
@import "badges";
@import "jumbotron";
@import "section";
@import "timeline";
@import "thumbnails";
@import "alerts";
@import "progress-bars";
@import "loading-bar";
@import "media";
@import "list-group";
@import "panels";
@import "responsive-embed";
@import "wells";
@import "close";
@import "revolution-slider";

// Components w/ JavaScript
@import "modals";
@import "tooltip";
@import "popovers";
@import "carousel";
@import "carousel-custom";
@import "chat";
@import "widgets";
@import "wysiwyg";

// Utility classes
@import "utilities";
@import "responsive-utilities";
*/
.note-toolbar > .btn-group{
	display: inline-block;
}

.note-group-select-from-files {
	display: none;
}

.note-toolbar .dropdown-menu {
 	top: inherit; 
 	left: inherit; 
}

.we-auth-modal-need-login .close{
	position: absolute;
	top: 50px;
	right: 40px;
	border: none;
	background: none;
}

.we-auth-modal-need-login .modal-header-cdp-logo{
	width: 50%;
}

.story-main-content .story-liked-create .external-link{
	font-size: 12px;
	color: #777777;
	display: block;
	text-decoration: underline;
}

.we-user-search{
	width: 451px;
}

.we-user-search-single{
	text-align: center;
}

.we-user-search-single .select2-choice{
	height: 36px;
	line-height: 32px;
}
