
html {
  /* keep footer on bottom helper:
  position: relative;
  min-height: 100%; */
  position: relative;
  min-height: 100%;
}
body {
  /* keep footer on bottom helper
  margin-bottom: 60px; = footer height */
  margin-bottom: 60px;
  background: lighten($gray-lighter, 5%);
}

#splash-global {
  background-image: url('../../src/img/bg-pattern.png');
  min-height: 41.8em;
}
/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  .container .text-muted {
    margin: 20px 0;
  }
}
