#navbar-main {
  border-bottom: 4px solid #e1e1e1;
  background: #fff;
  .bar-colored {
    background-image: url('../img/bar-colored.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 4px;
    position: relative;
    bottom: -70px;
  }
  .navbar-brand {
    padding: 0;
  }
}

#menu-main {
  .navbar-menu-item {
    width: 96px;
    height: 70px;
    line-height: 40px;
    text-align: center;
    .text-menu {
      font-size: 0.9em;
      display: block;
    }
    &.item-people {
      .icon-people {
        font-size: 2.5em;
        margin: -0.1em 0 -0.75em 0;
      }
      .text-menu {
        margin-top: 0.8em;
      }
      &:hover {
        background: $color-people;
        color: lighten($gray-lighter, 5%);
      }
    }
    &.item-feed {
      .icon-message {
        font-size: 2.5em;
        margin: -0.05em 0 -0.75em 0;
      }
      .text-menu {
        margin-top: 0.6em;
      }
      &:hover {
        background: $color-feed;
        color: lighten($gray-lighter, 5%);
      }
    }
    &.item-group {
      .icon-cdp-logo {
        font-size: 2.5em;
        margin: -0.1em 0 -0.75em 0;
      }
      .text-menu {
        margin-top: 0.8em;
        margin-left: -0.5em;
      }
      &:hover {
        background: $color-group;
        color: lighten($gray-lighter, 5%);
      }
    }
    &.item-course {
      .icon-badge {
        font-size: 2.5em;
      }
      .text-menu {
        margin-top: -1.5em;
      }
      &:hover {
        background: $color-course;
        color: lighten($gray-lighter, 5%);
      }
    }
    &.item-notifications {
      .icon-bell {
        font-size: 2.5em;
      }
      .text-menu {
        margin-top: -1.5em;
      }
      &:hover {
        background: $brand-danger;
        color: lighten($gray-lighter, 5%);
      }
    }
  }
}

#menu-user-dropdown {
  .dropdown-menu {
    width: 240px;
  }
  .dropdown-toggle {
    position: relative;
    top: 1.5em;
  }
}
