#user-list {
  .user-list-widget {
    background: none;
    height: 300px;
    margin-right: 20px;
    padding: 10px;
    &:hover {
      background: #fff;
    }
    .user-list-img {}
    .user-list-name {
      text-align: left;
    }
    .user-list-desc {
      font-size: 0.9em;
    }
    .user-list-nav {}
  }
}
