<a href="https://atencaobasica.org.br">
  <img alt="Logo da comunidade de Práticas" src="/theme/assets/img/logo-simbolo.png">
</a>
<h1><a href="https://cursos.atencaobasica.org.br">Comunidade de Praticas</a></h1>

<p>Espaço virtual de construção de conhecimento e aprendizado a partir das experiências de cada profissional da Atenção Básica.</p>

<h4>Menu</h4>
<ul>
  <li>
    <a href="https://atencaobasica.org.br/comunidades">Comunidades</a>
  </li>
  <li>
    <a href="https://atencaobasica.org.br/relatos">Relatos</a>
  </li>
   <li>
    <a href="http://blog.atencaobasica.org.br/">Blog amostrado</a>
  </li>
  <li>
    <a href="http://ajuda.atencaobasica.org.br">Ajuda</a>
  </li>
  <li>
    <a href="https://www.facebook.com/comunidadedepraticas">Facebook da Comunidade de Práticas</a>
</ul>

<span>Versão do site sem javascript, para uma melhor experiência use um navegador com suporte à javascript como o Opera, Firefox ou Chrome.</span>