<h1><%- data.titulo %></h1>

<p><%- data.descricao %></p>

<div>
<h4>Categorias</h4>
<% if (data.categorias) { %>
  <% data.categorias.forEach(function (item) { %>
    <%= item.text %> <br>
  <% }); %>
<% } %>
</div>

<div>
<h4>Respostas</h4>
<% if (data.respostas) { %>
  <% data.respostas.forEach(function (item) { %>
    <%= item.body %> <br>
  <% }); %>
<% } %>
</div>

<div>
<a href="/relato">Lista de relatos</a>
</div>