<!DOCTYPE html>
<html>
<head>
  <title>Erro interno do servidor</title>
  <style type="text/css">
    body {
      margin: 0;
      padding: 0;
    }
    .page-error-500 {
      background: #fff;
    }

    .cdp_http_responses_error-500 {
      height: 433px;
      background: url(/theme/assets/img/500.jpg) no-repeat center;
      margin:100px 0;
    }
  </style>
</head>
<body class="page-error-500">
  <div class="cdp_http_responses_error-500"></div>
</body>
</html>