<nav id="navbar-main" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <!-- Toggle button
          for mobile devices -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- /Toggle button -->

      <!-- Logo -->
      <a class="navbar-brand" href="/demo/">CdP: logo</a>
      <!-- /Logo -->
    </div>

    <!-- Menu main -->
    <ul class="nav navbar-nav">
      <li class="active"><a href="people.html">Pessoas</a></li>
      <li><a href="#about">Mensagem</a></li>
      <li><a href="groups.html">Comunidades</a></li>
      <li><a href="#contact">Cursos</a></li>
      <li><a href="#contact">Notificações</a></li>
    </ul>
    <!-- /Menu main -->

    <!-- Menu User #menu-user-dropdown
         only on login -->
    <ul class="nav navbar-nav pull-right">
      <li id="menu-user-dropdown" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Entrar <span class="caret"></span></a>
        <ul class="dropdown-menu pull-right" role="menu">
          <% include ../includes/form/login.ejs %>
        </ul>
      </li>
    </ul>
    <!-- /Menu User -->

    <div class="bar-colored"></div>
  </div><!-- end container -->
</nav><!-- end navigation #navbarmain -->
