<footer class="footer-main">
  <div class="container">

    <div class="col-xs-24">
      <div class="row">
      <div class="col-xs-8 pull-left" style="height: 120px; padding: 15px;">
        blog
      </div>
      <div class="col-xs-16 pull-right" style="height: 120px; padding: 15px;">
        social
      </div>
      </div>
    </div>

    <div class="col-xs-24">
      <div class="row">
      <div class="col-xs-8 pull-left" style="height: 120px; padding: 15px;">
        sobre
      </div>
      <div class="col-xs-16 pull-right" style="height: 120px; padding: 15px;">
        parceiros
      </div>
      </div>
    </div>

    <div class="col-xs-24 copyright">
      <p class="text-muted">© Comunidade de Práticas - 2014</p>
    </div>

  </div>
</footer>
{{we-avatar-modal store=store}}
