<footer id="footer-main">
  <div class="container">

    <div class="col-xs-24">
      <div class="row">

        <!-- blog-section -->
        <div class="blog-section col-xs-7 pull-left">
          <h4 class="title-footer">blog<h4>
          <div class="date">Postado há 02 dias</div>
          <small class="small-footer">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</small>
        </div>
        <!-- /blog-section -->

        <!-- facebook-section -->
        <div class="facebook-section col-xs-6">
          <h4 class="title-footer">facebook</h4>
        </div>
        <!-- /facebook-section -->

        <!-- links-section ::expose links for some sections -->
        <div class="links-section col-xs-10 pull-right">

          <h4 class="links-section--title title-footer">links</h4>

          <ul class="links-section--list row pull-left col-xs-24">

            <li class="links-section--list-item col-xs-12 pull-left">
              <div>
                <h5 class="links-section--subtitle">
                  <div class="links-section--icon  icon icon-question pull-left"></div>
                  Central de Ajuda
                </h5>
                <small class="small-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>
              </div>
            </li>

            <li class="links-section--list-item  col-xs-12 pull-left">
              <div>
                <h5 class="links-section--subtitle">
                  <div class="links-section--icon  icon icon-people pull-left"></div>
                  Trabalhe Conosco
                </h5>
                <small class="small-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>
              </div>
            </li>

            <li class="links-section--list-item col-xs-12 pull-left">
              <div>
                <h5 class="links-section--subtitle">
                  <div class="links-section--icon  icon icon-cdp-logo pull-left"></div>
                  IV Mostra
                </h5>
                <small class="small-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>
              </div>
            </li>

            <li class="links-section--list-item col-xs-12 pull-left">
              <div>
                <h5 class="links-section--subtitle">
                  <div class="links-section--icon  icon icon-chat pull-left"></div>
                  Fale Conosco
                </h5>
                <small class="small-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>
              </div>
            </li>

          </ul>

        </div>
        <!-- /links-section -->

      </div>
    </div>

    <div class="col-xs-24">
      <div class="row">

        <!-- about-section -->
        <div class="about-section col-xs-7 pull-left">
          <div class="col-xs-5 title-footer pull-left">
            <svg id="logo-cdp-footer" x="0px" y="0px" viewBox="0 0 100 40.2">
              <g>
                <g>
                  <g>
                    <circle fill="#6ABD46" cx="24.7" cy="12.5" r="2.5"/>
                  </g>
                  <g>
                    <circle fill="#F48520" cx="24.7" cy="26.6" r="2.5"/>
                  </g>
                  <g>
                    <circle fill="#29ABE2" cx="19.7" cy="14.5" r="2.5"/>
                  </g>
                  <g>
                    <circle fill="#EE4224" cx="29.7" cy="24.6" r="2.5"/>
                  </g>
                  <g>
                    <circle fill="#EE4224" cx="17.6" cy="19.5" r="2.5"/>
                  </g>
                  <g>
                    <circle fill="#29ABE2" cx="31.8" cy="19.5" r="2.5"/>
                  </g>
                  <g>
                    <circle fill="#6ABD46" cx="19.7" cy="24.6" r="2.5"/>
                  </g>
                  <g>
                    <circle fill="#FED900" cx="29.7" cy="14.5" r="2.5"/>
                  </g>
                  <g>
                    <path fill="#EE4224" d="M12.4,19.5c0-2.9,2-5.4,4.7-6c-0.5-0.1-1-0.2-1.5-0.2c-3.4,0-6.2,2.8-6.2,6.2s2.8,6.2,6.2,6.2
                      c0.5,0,1-0.1,1.5-0.2C14.4,24.9,12.4,22.5,12.4,19.5z"/>
                  </g>
                  <g>
                    <g>
                      <path fill="#29ABE2" d="M37,19.5c0,2.9-2,5.4-4.7,6c0.5,0.1,1,0.2,1.5,0.2c3.4,0,6.2-2.8,6.2-6.2s-2.8-6.2-6.2-6.2
                        c-0.5,0-1,0.1-1.5,0.2C35,14.2,37,16.6,37,19.5z"/>
                    </g>
                  </g>
                  <g>
                    <path fill="#F48520" d="M24.7,31.9c-2.9,0-5.4-2-6-4.7c-0.1,0.5-0.2,1-0.2,1.5c0,3.4,2.8,6.2,6.2,6.2s6.2-2.8,6.2-6.2
                      c0-0.5-0.1-1-0.2-1.5C30.1,29.9,27.6,31.9,24.7,31.9z"/>
                  </g>
                  <g>
                    <g>
                      <path fill="#6ABD46" d="M24.7,7.2c2.9,0,5.4,2,6,4.7c0.1-0.5,0.2-1,0.2-1.5c0-3.4-2.8-6.2-6.2-6.2s-6.2,2.8-6.2,6.2
                        c0,0.5,0.1,1,0.2,1.5C19.3,9.2,21.7,7.2,24.7,7.2z"/>
                    </g>
                  </g>
                  <g>
                    <path fill="#6ABD46" d="M16,28.2c-2.1-2.1-2.4-5.2-0.9-7.6c-0.4,0.3-0.8,0.6-1.2,0.9c-2.4,2.4-2.4,6.4,0,8.8s6.4,2.4,8.8,0
                      c0.4-0.4,0.7-0.8,0.9-1.2C21.2,30.6,18,30.3,16,28.2z"/>
                  </g>
                  <g>
                    <g>
                      <path fill="#FED900" d="M33.4,10.8c2.1,2.1,2.4,5.2,0.9,7.6c0.4-0.3,0.8-0.6,1.2-0.9c2.4-2.4,2.4-6.4,0-8.8s-6.4-2.4-8.8,0
                        c-0.4,0.4-0.7,0.8-0.9,1.2C28.2,8.5,31.3,8.8,33.4,10.8z"/>
                    </g>
                  </g>
                  <g>
                    <path fill="#29ABE2" d="M16,10.8c2.1-2.1,5.2-2.4,7.6-0.9c-0.3-0.4-0.6-0.8-0.9-1.2c-2.4-2.4-6.4-2.4-8.8,0s-2.4,6.4,0,8.8
                      c0.4,0.4,0.8,0.7,1.2,0.9C13.6,16.1,13.9,12.9,16,10.8z"/>
                  </g>
                  <g>
                    <g>
                      <path fill="#EE4224" d="M33.4,28.2c-2.1,2.1-5.2,2.4-7.6,0.9c0.3,0.4,0.6,0.8,0.9,1.2c2.4,2.4,6.4,2.4,8.8,0s2.4-6.4,0-8.8
                        c-0.4-0.4-0.8-0.7-1.2-0.9C35.8,23,35.4,26.2,33.4,28.2z"/>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </div>
          <h4 class="about-section--title  date">
            Comunidade de Práticas
          </h4>
          <small class="small-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</small>
          <button class="btn btn-xs btn-primary">leia mais</button>
        </div>
        <!-- /about-section -->

        <!-- sponsor-section -->
        <div class="sponsor-section col-xs-7">
          <h4 class="sponsor-title">Realização</h4>
          <ul class="sponsor-list pull-left">
            <li class="sponsor-list--item">
              <img src="/theme/assets/img/sponsor-partner.jpg">
            </li>
            <li class="sponsor-list--item">
              <img src="/theme/assets/img/sponsor-partner.jpg">
            </li>
          </ul>
        </div>
        <!-- /sponsor-section -->

        <!-- partner-section -->
        <div class="partner-section col-xs-10 pull-right">
          <h4 class="partner-title">Parceiros</h4>
          <ul class="partner-list">
            <li class="sponsor-list--item">
              <img src="/theme/assets/img/sponsor-partner.jpg">
            </li>
            <li class="sponsor-list--item">
              <img src="/theme/assets/img/sponsor-partner.jpg">
            </li>
            <li class="sponsor-list--item">
              <img src="/theme/assets/img/sponsor-partner.jpg">
            </li>
          </ul>
        </div>
        <!-- /partner-section -->

      </div>
    </div>

    <div class="col-xs-24 copyright">
      <p class="text-muted">© Comunidade de Práticas - 2014</p>
    </div>

  </div>
</footer>
{{we-avatar-modal store=store}}
