<h1>Bem vindo(a) a Comunidade de Práticas!</h1>
<p style="font-size: 2em; line-height: 1.5em;">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
