<!-- home-carousel -->
<div id="home-carousel" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#home-carousel" data-slide-to="1"></li>
    <li data-target="#home-carousel" data-slide-to="2"></li>
    <li data-target="#home-carousel" data-slide-to="3"></li>
    <li data-target="#home-carousel" data-slide-to="4"></li>
  </ol>

  <!-- carousel-inner -->
  <div class="carousel-inner">

    <!-- carousel-item-01 -->
    <div class="item active">
      <div class="container carousel-caption">
        <div class="home-carousel--text text-left">
          <h3 class="home-carousel--text-title">Olá Bem vindos a Comunidade de Práticas!</h3>
          <p class="home-carousel--text-subtitle">A rede social dos trabalhadores do SUS.</p>
        </div>
      </div>
    </div>
    <!-- /carousel-item-01 -->

    <!-- carousel-item-02 -->
    <div class="item">
      <div class="container carousel-caption">
        <div class="home-carousel--text text-right">
          <h3 class="home-carousel--text-title">Olá Bem vindos a Comunidade de Práticas!</h3>
          <p class="home-carousel--text-subtitle">A rede social dos trabalhadores do SUS.</p>
        </div>
      </div>
    </div>
    <!-- /carousel-item-02 -->

    <!-- carousel-item-03 -->
    <div class="item">
      <div class="container carousel-caption">
        <div class="home-carousel--text text-left">
          <h3 class="home-carousel--text-title">Olá Bem vindos a Comunidade de Práticas!</h3>
          <p class="home-carousel--text-subtitle">A rede social dos trabalhadores do SUS.</p>
        </div>
      </div>
    </div>
    <!-- /carousel-item-03 -->

    <!-- carousel-item-04 -->
    <div class="item">
      <div class="container carousel-caption">
        <div class="home-carousel--text text-right">
          <h3 class="home-carousel--text-title">Olá Bem vindos a Comunidade de Práticas!</h3>
          <p class="home-carousel--text-subtitle">A rede social dos trabalhadores do SUS.</p>
        </div>
      </div>
    </div>
    <!-- /carousel-item-04 -->

    <!-- carousel-item-05 -->
    <div class="item">
      <div class="container carousel-caption">
        <div class="home-carousel--text text-right">
          <h3 class="home-carousel--text-title">Olá Bem vindos a Comunidade de Práticas!</h3>
          <p class="home-carousel--text-subtitle">A rede social dos trabalhadores do SUS.</p>
        </div>
      </div>
    </div>
    <!-- /carousel-item-05 -->
  </div>
  <!-- /carousel-inner -->

  <!-- controls -->
  <a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev">
    <i style="font-size: 3em;" class="fa fa-angle-left"></i>
  </a>
  <a class="right carousel-control" href="#home-carousel" role="button" data-slide="next">
    <i style="font-size: 3em;" class="fa fa-angle-right"></i>
  </a>
  <!-- /controls -->
</div>
<!-- /home-carousel -->

<script>
  $('.carousel').carousel({
    interval: 9000,
    pause: 'none'
  })
</script>
