<div class="info-blocks">
  <div class="info-blocks--blog">
    <header class="info-blocks--blog-header">
      <h3 class="info-blocks--blog-title">
        Blog Amostrado <small class="info-blocks--blog-subtitle">Todas as novidades da CdP e muito mais da Atenção Básica agente mostra aqui.</small>
      </h3>
    </header>
    <div class="info-blocks--blog-content">
      <img class="info-blocks--blog-content-img" src="http://goo.gl/gxbrPl" />
      <h4 class="info-blocks--blog-content-title">Título do post</h4>
      <p class="info-blocks--blog-content-description">
        Trocar experiências e fazer uma rede dinâmica e viva. Comunique-se, participe das mais diversas comunidades.
      </p>
    </div>
    <div class="info-blocks--blog-content">
      <img class="info-blocks--blog-content-img" src="http://goo.gl/gxbrPl" />
      <h4 class="info-blocks--blog-content-title">Título do post</h4>
      <p class="info-blocks--blog-content-description">
        Trocar experiências e fazer uma rede dinâmica e viva. Comunique-se, participe das mais diversas comunidades.
      </p>
    </div>
  </div>

  <div class="info-blocks--help_center">
    <h3 class="info-blocks--help_center-title">
      Central de Ajuda <small class="info-blocks--help_center-subtitle">Quer ajuda? É aqui que você encontra</small>
    </h3>
    <div class="info-blocks--help_center-content">
      <div class="info-blocks--help_center-content-img pull-left">
        <img class="info-blocks--help_center-content-img--item" src="http://goo.gl/gxbrPl" />
      </div>
      <p class="info-blocks--help_center-content-description pull-right">
        Trocar experiências e fazer uma rede dinâmica e viva. Comunique-se, participe das mais diversas comunidades.
      </p>
    </div>
    <div class="info-blocks--help_center-content">
      <p class="info-blocks--help_center-content-description pull-left">
        Trocar experiências e fazer uma rede dinâmica e viva. Comunique-se, participe das mais diversas comunidades.
      </p>
      <div class="info-blocks--help_center-content-img pull-right">
        <img class="info-blocks--help_center-content-img--item" src="http://goo.gl/gxbrPl" />
      </div>
    </div>
    <a class="btn btn-success">Ver resposta</a>
  </div>
</div>
