<section class="section">
  <div class="container">

    <div id="draggable-widgets" class="pull-left col-xs-6">
      <!-- widgets -->
      <aside id="four-widget" class="panel panel-default row">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a class="widget-trigger-collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
              <div class="icon icon-logo-cdp pull-left"></div>
              {{#link-to 'group' id}}
                {{name}}
              {{/link-to}}
            </a>
          </h3>
        </div>
        <div id="collapseFour" class="panel-collapse collapse in list-group">

          <div class="list-group-item">



            <div class="search-in-group">
              <form {{action 'search' on="submit"}}>
                <div class="input-group">
                  <div class="input-group-btn">
                  <button class="btn btn-default"><i class="icon icon-search"></i></button>
                  </div>
                  <input type="text" class="form-control" placeholder="Buscar">
                </div>
              </form>
            </div>

            {{#link-to 'group' id}}
              <img width="100%" src="/imgs/logos/group2.jpg">
            {{/link-to}}

            {{partial 'group/groupActionsBlock'}}
          </div>
        </div>
      </aside>

      <aside id="feed-widget" class="panel panel-default row">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a class="widget-trigger-collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              <div class="icon icon-time pull-left"></div>
              O que está acontecendo?
            </a>
          </h3>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <a href="#" class="list-group-item active">
            <h5 class="list-group-item-heading">Semana da Saúde</h5>
            <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências.</p>
          </a>
          <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">Semana da Saúde</h5>
            <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências.</p>
          </a>
          <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">Semana da Saúde</h5>
            <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências.</p>
          </a>
        </div>
      </aside>

      <aside id="groups-widget" class="panel panel-default row">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a class="widget-trigger-collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              <div class="icon icon-cdp-logo pull-left"></div>
              Comunidades
            </a>
          </h3>
        </div>
        <div id="collapseOne" class="panel-collapse collapse list-group">
          <a href="#" class="list-group-item active">
            <h5 class="list-group-item-heading">Comunidade Saúde e Bem-estar</h5>
            <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
          </a>
          <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">Comunidade Saúde e Bem-estar</h5>
            <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
          </a>
          <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">Comunidade Saúde e Bem-estar</h5>
            <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
          </a>
        </div>
      </aside>

      <aside id="courses-widget" class="panel panel-default row">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a class="widget-trigger-collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              <div class="icon icon-badge pull-left"></div>
              Cursos
            </a>
          </h3>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse list-group">
          <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">Cursos de Saúde</h4>
            <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Cursos de Saúde</h4>
            <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Cursos de Saúde</h4>
            <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
          </a>
        </div>
      </aside>
      <!-- /widgets -->
    </div>

    <div class="col-xs-6 row pull-left">


    </div>

    <div class="col-xs-18 pull-right">
      {{outlet}}
    </div>

  </div><!-- /container -->
</section>
