<aside id="courses-widget" class="panel panel-default row">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a class="widget-trigger-collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x pull-left"></i>
          <i class="cdp cdp-badge cdp-lg cdp-fw cdp-stack-1x cdp-inverse pull-left"></i>
        </span>
        <span class="icon-title">Cursos</span>
      </a>
    </h3>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse list-group">
    <a href="#" class="list-group-item active">
      <h4 class="list-group-item-heading">Cursos de Saúde</h4>
      <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Cursos de Saúde</h4>
      <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Cursos de Saúde</h4>
      <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
    </a>
  </div>
</aside>
