<aside id="feed-widget" class="panel panel-default row">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a class="widget-trigger-collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x pull-left"></i>
          <i class="cdp cdp-time cdp-lg cdp-fw cdp-stack-1x cdp-inverse pull-left"></i>
        </span>
        <span class="icon-title">O que está acontecendo?</span>
      </a>
    </h3>
  </div>
  <div id="collapseThree" class="panel-collapse collapse list-group">
    <a href="#" class="list-group-item">
      <h5 class="list-group-item-heading">Semana da Saúde</h5>
      <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências.</p>
    </a>
    <a href="#" class="list-group-item">
      <h5 class="list-group-item-heading">Semana da Saúde</h5>
      <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências.</p>
    </a>
    <a href="#" class="list-group-item">
      <h5 class="list-group-item-heading">Semana da Saúde</h5>
      <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências.</p>
    </a>
  </div>
</aside>
