<aside id="groups-widget" class="panel panel-default row">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a class="widget-trigger-collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x pull-left"></i>
          <i class="cdp cdp-cdp-logo cdp-lg cdp-stack-1x cdp-inverse"></i>
        </span>
        <span class="icon-title">Comunidades</span>
      </a>
    </h3>
  </div>
  <div id="collapseOne" class="panel-collapse collapse list-group">
    <a href="#" class="list-group-item">
      <h5 class="list-group-item-heading">Comunidade Saúde e Bem-estar</h5>
      <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
    </a>
    <a href="#" class="list-group-item">
      <h5 class="list-group-item-heading">Comunidade Saúde e Bem-estar</h5>
      <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
    </a>
    <a href="#" class="list-group-item">
      <h5 class="list-group-item-heading">Comunidade Saúde e Bem-estar</h5>
      <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
    </a>
  </div>
</aside>
