<aside id="groups-widget" class="panel panel-default row">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a class="widget-trigger-collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        <i class="cdp cdp-cdp-logo pull-left"></i>
        Comunidades
      </a>
    </h3>
  </div>
  <div id="collapseOne" class="panel-collapse collapse list-group">
    <a href="#" class="list-group-item active">
      <h5 class="list-group-item-heading">Comunidade Saúde e Bem-estar</h5>
      <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
    </a>
    <a href="#" class="list-group-item">
      <h5 class="list-group-item-heading">Comunidade Saúde e Bem-estar</h5>
      <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
    </a>
    <a href="#" class="list-group-item">
      <h5 class="list-group-item-heading">Comunidade Saúde e Bem-estar</h5>
      <p class="list-group-item-text">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
    </a>
  </div>
</aside>
