<!-- /group-list--header- -->
<header id="group-list--header">
  <div class="group-list--header-brand">
    <div class="group-list--header-brand-icon">
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x fa-4x pull-left icon-circle-group"></i>
        <i class="cdp cdp-cdp-logo cdp-lg cdp-stack-1x cdp-inverse"></i>
      </span>
    </div>
    <div class="group-list--header-brand-text">
      <h3 class="group-list--header-brand-text--title">
        {{t 'Comunidades'}}
      </h3>
      <small class="group-list--header-brand-text--small">
        {{t 'Participe das comunidades'}}
      </small>
    </div>
  </div>
  <!-- group-list--header-search -->
  <div class="group-list--header-search">
    <form class="form-inline" role="form">
      <div class="input-group">
        <input type="search" class="group-list--header-search-input form-control" placeholder="Busque nesta seção">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
  </div>
  <!-- /group-list--header-search -->
</header>
<!-- /group-list--header -->
