<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>

    <!-- :: Require.js conf
            HelpersService.getRequirejsPreloadConfig()
            HelpersService.getRequireJsScriptTag() -->

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <meta name="csrf-token" content="<%= _csrf %>" />

    <!-- :: CSS Links
            HelpersService.getlinkCssTags() -->
    <link rel="stylesheet" href="<%= stylesheet_url %>">
    <link rel="icon" href="../favicon.ico">
  </head>
  <body class="logged-out">

    <!-- header -->
    <% include ../includes/header.ejs %>
    <!-- /header -->

    <!-- section -->
    <% include ../includes/section/splash-global.ejs %>
    <!-- /section -->

    <!-- footer -->
    <% include ../includes/footer.ejs %>
    <!-- /footer -->

    <!-- javascript at the bottom for fast load page -->
    <script async src="<%= javascript_url %>"></script>

    <!-- If Development
        script for fast development *use only in dev mode -->
    <script src="//localhost:35729/livereload.js"></script>
    <!-- end -->

  </body>
</html>
