<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>

    <!-- :: Require.js conf
            HelpersService.getRequirejsPreloadConfig()
            HelpersService.getRequireJsScriptTag() -->

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <meta name="csrf-token" content="<%= _csrf %>" />

    <!-- :: CSS Links
            HelpersService.getlinkCssTags() -->

  </head>
  <body>

    <!-- body -->

  </body>
</html>
