<div class="story-main-content--comment">
  <div class="story-main-content--comment-wrapper">
    <div class="col-lg-12">
      <div class="col-lg-12">
        <a id="ancurmess"></a>
        {{we-sys-messages messages=messages}}
        <a id="anchor-relato-comment"></a>
        <ul class="nav nav-tabs comment-list" role="tablist">
          {{#if allowComment}}
          <li role="presentation" class="comments-comment">
            <a class="btn-image" href="#comments-comment" aria-controls="image" role="tab" data-toggle="tab">
              {{!-- <i class="icons-outline icons-outline-photographic-camera"></i> --}}
              <div class="btn-text">Comentários</div>
            </a>
          </li>
          {{/if}}
          {{#if canEdit}}
          <li role="presentation" class="comments-curadoria">
            <a class="btn-image" href="#comments-curadoria" aria-controls="image" role="tab" data-toggle="tab">
              {{!-- <i class="icons-outline icons-outline-photographic-camera"></i> --}}
              <div class="btn-text">Curadoria</div>
            </a>
          </li>
          {{/if}}
        </ul>
      </div>
      <div class="col-lg-12 comments-wrapper">
        <div class="tab-content">
          {{#if allowComment}}
          <div role="tabpanel" class="tab-pane" id="comments-comment">
            {{we-relato-comment commentedModelName="relato" commentedModelId=relato.id commentType='comment'}}
          </div>
          {{/if}}
          {{#if canEdit}}
          <div role="tabpanel" class="tab-pane" id="comments-curadoria">
            {{we-relato-comment commentedModelName="relato" commentedModelId=relato.id commentType='curadoria'}}
          </div>
          {{/if}}
        </div>
      </div>
      {{we-relato-comment-form relato=relato allowComment=allowComment commentType=commentType curadoria=canEdit}}
    </div>
  </div>
</div>