<section class="section">
  <div class="container">
    <div class="row">

      <div id="group-list">
        <h3>Atividades</h3>

        <div class="sharebox-area">
          {{render 'post/sharebox' postNew}}
        </div>

        {{render 'posts/list' posts controller='Posts'}}
      </div>

    </div>
  </div>
</section>
