<section class="section">
  <div class="container">
    <div class="row">

    <div id="group-list">
      <h3>{{t 'Atividades'}}</h3>
      {{render 'posts/list' posts controller='Posts'}}

      <div class="sharebox-area">
        {{render 'post/sharebox' postNew}}
      </div>
    </div>

    </div>
  </div>
</section>
