<div class="group-list-widget thumbnail">
  {{#link-to 'group' id}}
    <img class="group-list-img img-circle pull-left" src="/theme/assets/img/img-groups.jpg">
  {{/link-to}}
  <!--<img class="group-list-img img-circle pull-left" src="img/img-groups.jpg"/>-->
  <div class="caption">
    <h3 class="group-list-name">
      {{#link-to 'group' id}}
        {{substr name max=15}}
      {{/link-to}}
    </h3>
    <p class="group-list-desc">Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva. Aqui gestores e trabalhadores do SUS se comunicam, compartilham experiências e constituem esta grande rede colaborativa, dinâmica e viva.</p>
    <nav class="group-list-nav pull-right">
      <a href="#" class="btn btn-sm btn-success" role="button">Seguir</a>
      <a href="#" class="btn btn-sm btn-primary" role="button">Participar</a>
    </nav>
  </div>
</div>
